<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
id="cordova-plugin-scio" version="0.2.3">
	<name>Scio Cordova</name>
	<description>Spectroscopy through Cordova</description>
	<license>Apache 2.0</license>
	<keywords>cordova,device</keywords>
    <js-module src="www/scio.js" name="scio">
        <clobbers target="window.scio" />
    </js-module>

    <platform name="android">

		<resource-file src="SCiOSDK_Android.aar" target="SCiOSDK_Android.aar" />
		
        <source-file src="src/android/com/myscioapplication/config/Constants.java"
            target-dir="src/com/myscioapplication"/>
			
        <source-file src="src/android/com/myscioapplication/interfaces/IScioDevice.java"
            target-dir="src/com/myscioapplication"/>
			
        <source-file src="src/android/com/myscioapplication/utils/StringUtils.java"
            target-dir="src/com/myscioapplication"/>
			
        <source-file src="src/android/com/myscioapplication/activities/BaseScioActivity.java"
            target-dir="src/com/myscioapplication"/>
			
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="CordovaScio">
                <param name="android-package" value="consumerphysics.com.myscioapplication.activities"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>
</plugin>